{% extends 'base.html' %}
{% block body %}
          <div class="hero-unit">
            <h1>Flask template app</h1><br/>
            <p>A template for Flask web app that utilises Twitter-Bootstrap</p>
            
          </div>
          <div class="row-fluid">
            <div class="span5">
              <h2>BLAH</h2>
              <p>Cras ante lacus, tincidunt sed scelerisque vitae, pharetra vel dolor. Cras ut enim velit, eu luctus ligula. Cras justo lectus.</p>
            </div><!--/span-->
            <div class="span5">
              <h2>BLAH</h2>
              <p>Cras ante lacus, tincidunt sed scelerisque vitae, pharetra vel dolor. Cras ut enim velit, eu luctus ligula. Cras justo lectus.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div>
          <div class="row-fluid">
            <div class="span5">
              <h2>BLAH</h2>
              <p>Cras ante lacus, tincidunt sed scelerisque vitae, pharetra vel dolor. Cras ut enim velit, eu luctus ligula. Cras justo lectus.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span5">
              <h2>BLAH</h2>
              <p>Cras ante lacus, tincidunt sed scelerisque vitae, pharetra vel dolor. Cras ut enim velit, eu luctus ligula. Cras justo lectus.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
          </div><!--/row-->
          
{% endblock %}
